:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(95, 95, 95, 0.87);
  /* background-color: rgb(200, 233, 239); */
  background-image: url("https://media.istockphoto.com/id/1388281684/vector/seamless-dog-pattern-with-paw-prints-bones-hearts-and-balls-cat-foot-texture-pattern-with.jpg?s=612x612&w=0&k=20&c=St1dISSnU7zobbE4y1VWD7hhEnWcUGriSVZ5ocoSYWU=");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0px;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: rgb(180, 234, 255);
  color: #646cff;
  padding: 0.7rem;
  margin: 2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: inherit;
  font-weight: bold;
  transition: 0.5s ease;
}

input {
  font-size: 1.2em;
  color: rgba(95, 95, 95, 0.87);
  background-color: rgb(180, 234, 255);
  border-radius: 10px;
  padding: 0.3rem;
}

button:hover {
  background-color: rgb(137, 215, 243);
}

/* .navbar {
  background-color: rgb(180, 234, 255);
  display: inline-block;
  padding: 1rem;
} */

.nav-item {
  background-color: rgb(180, 234, 255);
  padding: 0.7rem;
  margin: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  transition: 0.5s ease;
}

.nav-item:hover {
  background-color: rgb(137, 215, 243);
}

.form-item {
  display: block;
}

.container {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  margin: 2rem;
  /* border: solid 1px; */
  box-shadow: 0 0 5px;
  border-radius: 20px;
}
